// body background color and font weight settings

* {
    box-sizing: border-box;
    font-family: Arial;
}


body {
     background-color: #ffffff;
    padding: 36px 21px 50px 21px;
    font-weight: bold;
    font-family: 'Gotham Black', helvetica, arial, sans-serif;
}

.container {
    display: inline-block;
    float: left;
    width: 100%;
   
}
/* setting for dropdown */
.menu {
    float: left;
    display: inline-block;
    width: auto;
    background-color: #FFF;
    position: relative;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 15px;
    width:100%;
}
/* settings for main dropdown is opened */
.menu > a.menu-open {
    padding: 0px 0px 20px 0px; /* to adjust left alignment of dropdown main text increase last 0px to 10px*/
    display: inline-block;
    float: left; 
    border-bottom: 1px solid #555;
    color:black !important;
    font-size: 15px;
    line-height: 0;
    font-weight: bold;
    transition: ease .6s;
    max-height: 40px;
    width: 100%;
}


a {
    text-decoration: none;
}

/* main dropdown settings */
.menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0;
    display: inline-block;
    float: left;
    margin-top: 5px;
    position: absolute;
    top: 20px;
    width:100%;
    /* box-shadow: 1px 2px 5px 1px #e0e0e0; */
    border-bottom: 1px solid #555;
    z-index: 100;
   
}

/* menu items of dropdown li */
.menu > ul li {
    float: left;
    display: inline-block;
    width: 100%;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
}

/* setting for menu items */
.menu > ul li a {
    padding: 12px 0px;/* to adjust left text alignment of menu item increase 0px to 10px */
    line-height: normal;
    display: inline-block;
    float: left;
    width: 100%;
    height: auto;
    white-space: nowrap;
    font-size: 15px;
    transition: ease-in-out .2s;
        color :#8d8d8d !important;
        text-transform: uppercase;
    font-size: 15px;
}

/* change color of mouse over menu item */
.menu > ul li a:hover {
    color: #0f0f0f !important;
}

/* change color of active menu item */
.menu > ul li a:active  , .menu ul li a:focus{
    color:white !important;
}

/* display horizontal line to last menu item */
.menu ul li:last-child a {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* display arrow down when menu is closed */
.arrow-up {
    display: inline-block;
    float: right;
    position: absolute;
    right: 3px;
    padding: 10px 5px;
    margin: -8px 5px;
    background-image: url(../img/menu-arrow.svg);
    background-repeat: no-repeat;
    top: 0;
}

/* display arrow down when menu is open */
.arrow-down {
    display: inline-block;
    float: right;
    position: absolute;
    right: 3px;
    padding: 10px 5px;
    margin: -8px 5px;
    background-image: url(../img/menu-arrow.svg);
    background-repeat: no-repeat;
    top: 0;
    transform: rotate(180deg);
}


